/* Font face */
@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Black.ttf);
}

@font-face {
    font-family: "Gothic-regular";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

/* Global */
body {
    margin: 0;
    font-family: "MedievalSharp";
    background-image: url(../img/smoke-bg.jpg);
}

p {
    font-family: "Gothic-regular";
}

li {
    list-style: none;
}

h1 {
    color: #ddc9a7;
    font-size: xx-large;

}

h2 {
    text-transform: uppercase;
    color: #ddc9a7;

}

h3 {
    font-family: "Gothic-regular";
    text-transform: uppercase;
    color: white;

}

a {
    text-decoration: none;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.main-menu {
    color: #ddc9a7;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-menu a {
    color: #ddc9a7;
}

.main-menu .button {
    color: #0a0a0a;
    background-color: #ddc9a7;
    border-radius: 10%;
    padding: 10px 15px;
}

/* Section banner */
.banner {
    position: relative;
    height: 100vh;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-banner {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
}

.text-banner a {
    color: white;
    border: solid 1px #ddc9a7;
    border-radius: 0.5rem;
    padding: 15px 20px;
    font-size: larger;
}

/*  Section awards */

.award-content {
    border: solid 1px #ddc9a7;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
}

.text {
    width: 20%;

}

img {
    width: 50%;
}

/* section races */
.races-img {
    border: 1px solid #ddc9a7;
    border-radius: 0.8rem;
    width: 48%;
    background-image: url("../img/races-bg.jpg");

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}



.elf {
    border: 1px solid #ddc9a7;
    border-radius: 0.8rem;
    width: 48%;
    color: #ddc9a7;
    text-align: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.races-flex {
    display: flex;
    justify-content: space-around;

    margin: 0 2rem;
}

.races {
    width: 30%;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.races p {
    font-family: "medievalSharp";
}

.elf h2::after {
    content: "";
    border: 1px solid #ddc9a7;
}

/* Section Buy now */
#buy-now {
    background-image: url("../img/buy-now-background.jpg");
    background-size: cover;
    margin: 2rem 0;

    display: flex;
}

.buy-now-content {
    width: 55%;
    gap: 2rem;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buy-now-text {
    color: white;
}

.buy-now-click a {
    color: white;
    border: 1px solid #ddc9a7;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
}